/*h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
  text-align: center;
  position: absolute;
  top: 1em;
  left: 1em;*/
}
/*h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}*/
/*nav {
  position: relative;
  top: 8em;
  text-align: center;
  font-size: 1em;
  color: red;
  z-index: 100;
}*/
/*nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;

}*/
/*nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}*/
