<div>
  <div class="contact-form">
    <!-- <label>name: </label> -->
    <input type="string" placeholder="name" class="contact-name-email">
    <!-- <label>email: </label> -->
    <input type="email" placeholder="email" class="contact-name-email">
    <!-- <label>message: </label> -->
    <input type="text" placeholder="message" class="contact-message">
    <button class="contact-button" (click)="save()">Save</button>
    <button class="contact-button" (click)="goBack()">Back</button>
  </div>

</div>
