<div class="row">
  <form class="col s12">
    <!-- first row for name and telephone -->
    <div class="row">
      <div class="input-field col s6">
        <input type="text" class="validate">
        <label for="icon_prefix">First Name</label>
      </div>
      <div class="input-field col s6">
        <input type="email" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>
    </div>
    <!-- second row for text area -->
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Textarea</label>
      </div>
    </div>
    <!-- submit button -->
    <div class="row">
      <a class="right btn-floating btn-large waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
    </div>
  </form>
 </div>
