/* Master Styles */
/*body {

}*/

.front-component{
  position: relative;
  z-index: 0;
}
.banner {
  width: 100%;
  position: absolute;
  z-index: -100;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  position: relative;
  top: 2em;
  text-align: center;
  font-size: 3em;
  color: darkslategrey;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
  margin: 0;
}
/* . . . */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
h4 {
  position: relative;
  text-align: justify;
  width: 85%;
  font-size: 18px;
  margin: 0 auto;
  top: 5em;
}

.product-name {
  position: relative;
  top: 0;
  text-align: center;
}
.dashboard {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 70em;
  /*background-color: red;*/
  margin: 0 auto;
  overflow: inherit;
  position: relative;
  top: 5em;
}

.footer {
  /*position: absolute;
  bottom: 0;*/
  color: slategrey;
  top: 80px;
  position: relative;
  bottom: 0;
  display: block;
  background-color: bisque;
  width: 100%;
  min-height: 10px;
  margin: 2em;
}

.footer #foot-note {
  display: block;
  text-align: center;
  padding: 1em;
}

@media(max-width: 70em){
  .dashboard {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 47em;
    /*background-color: red;*/
    margin: 0 auto;
    overflow: inherit;
  }
}

@media(max-width: 37em){
  .dashboard {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 20em;
    /*background-color: red;*/
    margin: 0 auto;
    overflow: inherit;
  }
}
